## Example Appwrite VCS GitHub integration variables (DO NOT put real secrets here)

_APP_VCS_GITHUB_APP_NAME="appwrite-dev-example"
_APP_VCS_GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n<github_app_private_key>\n-----END RSA PRIVATE KEY-----"
_APP_VCS_GITHUB_APP_ID="<github_app_id>"
_APP_VCS_GITHUB_CLIENT_ID="<github_oauth_client_id>"
_APP_VCS_GITHUB_CLIENT_SECRET="<github_oauth_client_secret>"
_APP_VCS_GITHUB_WEBHOOK_SECRET="<github_webhook_secret>"
