# REDCap API Test Configuration

REDCAP_API_URL="http://localhost:8888/api/"

# Project tokens
REDCAP_TOKEN_PROJECT_1="<redcap_project_1_token>"
REDCAP_TOKEN_PROJECT_2="<redcap_project_2_token>"
REDCAP_TOKEN_PROJECT_5="<redcap_project_5_token>"
REDCAP_TOKEN_PROJECT_12="<redcap_project_12_token>"

# Default token (Classic Database)
REDCAP_API_TOKEN="<redcap_api_token>"
REDCAP_PROJECT_ID="1"
