@font-face {
  font-family: 'Gambetta';
  src:
    url('/fonts/Gambetta/roman.woff2') format('woff2'),
    url('/fonts/Gambetta/roman.woff') format('woff'),
    url('/fonts/Gambetta/roman.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gambetta';
  src:
    url('/fonts/Gambetta/italic.woff2') format('woff2'),
    url('/fonts/Gambetta/italic.woff') format('woff'),
    url('/fonts/Gambetta/italic.ttf') format('truetype');
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
}

/* Bootstrap Font weight utility classes */
.fw-lighter {
  font-weight: 300 !important;
}
.fw-light {
  font-weight: 400 !important;
}
.fw-normal {
  font-weight: 500 !important;
}
.fw-bold {
  font-weight: 600 !important;
}
.fw-bolder {
  font-weight: 700 !important;
}
